<html id="html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <style>
             /* Container */
         .container {
             position: relative;
             max-width: 460px;
             width: 100%;
             margin: 50px auto 100px;
         }
        .container.active .card:first-child {
            background: #f2f2f2;
            margin: 0 15px;
        }
        .container.active .card:nth-child(2) {
            background: #fafafa;
            margin: 0 10px;
        }
        .container.active .card.alt {
            top: 20px;
            right: 0;
            width: 100%;
            min-width: 100%;
            height: auto;
            border-radius: 5px;
            padding: 60px 0 40px;
            overflow: hidden;
        }
        .container.active .card.alt .toggle {
            height: 18%;
            position: absolute;
            top: 40px;
            right: -70px;
            box-shadow: none;
            -webkit-transform: scale(10);
            transform: scale(10);
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
        }
        .container.active .card.alt .toggle:before {
            content: '';
        }
        .container.active .card.alt .title,
        .container.active .card.alt .input-container,
        .container.active .card.alt .button-container {
            left: 0;
            opacity: 1;
            visibility: visible;
            transition: .3s ease;
        }
        .container.active .card.alt .title {
            transition-delay: .3s;
        }
        .container.active .card.alt .input-container {
            transition-delay: .4s;
        }
        .container.active .card.alt .input-container:nth-child(2) {
            transition-delay: .5s;
        }
        .container.active .card.alt .input-container:nth-child(3) {
            transition-delay: .6s;
        }
        .container.active .card.alt .button-container {
            transition-delay: .7s;
        }

        /* Card */
        .card {
            position: relative;
            background: #ffffff;
            border-radius: 5px;
            padding: 60px 0 40px 0;
            box-sizing: border-box;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            /*transition: .3s ease;*/
            /* Title */
            /* Inputs */
            /* Button */
            /* Footer */
            /* Alt Card */
        }
        .card:first-child {
            background: #fafafa;
            /*height: 10px;*/
            border-radius: 5px 5px 0 0;
            margin: 0 10px;
            padding: 0;

            position: absolute;
            width: 440px;
            top: -10px;
            height: 560px;
        }
        .card .title {
            position: relative;
            z-index: 1;
            border-left: 5px solid #ed2553;
            margin: 0 0 35px;
            padding: 10px 0 10px 50px;
            color: #ed2553;
            font-size: 32px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .card .input-container {
            position: relative;
            margin: 0 60px 50px;
        }
        .card .input-container input {
            outline: none;
            z-index: 1;
            position: relative;
            background: none;
            width: 100%;
            height: 60px;
            border: 0;
            color: #212121;
            font-size: 24px;
            font-weight: 400;
        }
        .card .input-container input:focus ~ label {
            color: #9d9d9d;
            -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
        }
        .card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
            width: 50%;
        }
        .card .input-container input:valid ~ label {
            color: #9d9d9d;
            -webkit-transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
        }
        .card .input-container label {
            position: absolute;
            top: 0;
            left: 0;
            color: #757575;
            font-size: 24px;
            font-weight: 300;
            line-height: 60px;
            transition: 0.2s ease;
        }
        .card .input-container .bar {
            position: absolute;
            left: 0;
            bottom: 0;
            background: #757575;
            width: 100%;
            height: 1px;
        }
        .card .input-container .bar:before, .card .input-container .bar:after {
            content: '';
            position: absolute;
            background: #ed2553;
            width: 0;
            height: 2px;
            transition: .2s ease;
        }
        .card .input-container .bar:before {
            left: 50%;
        }
        .card .input-container .bar:after {
            right: 50%;
        }
        .card .button-container {
            margin: 0 60px;
            text-align: center;
        }
        .card .button-container button {
            outline: 0;
            cursor: pointer;
            position: relative;
            display: inline-block;
            background: 0;
            width: 240px;
            border: 2px solid #e3e3e3;
            padding: 20px 0;
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            overflow: hidden;
            transition: .3s ease;
        }
        .card .button-container button span {
            position: relative;
            z-index: 1;
            color: #ddd;
            transition: .3s ease;
        }
        .card .button-container button:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            background: #ed2553;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin: -15px 0 0 -15px;
            opacity: 0;
            transition: .3s ease;
        }
        .card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
            border-color: #ed2553;
        }
        .card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
            color: #ed2553;
        }
        .card .button-container button:active span, .card .button-container button:focus span {
            color: #ffffff;
        }
        .card .button-container button:active:before, .card .button-container button:focus:before {
            opacity: 1;
            -webkit-transform: scale(10);
            transform: scale(10);
        }
        .card .footer {
            margin: 40px 0 0;
            color: #d3d3d3;
            font-size: 24px;
            font-weight: 300;
            text-align: center;
        }
        .card .footer a {
            color: inherit;
            text-decoration: none;
            transition: .3s ease;
        }
        .card .footer a:hover {
            color: #bababa;
        }
        .card.alt {
            position: absolute;
            top: 40px;
            right: -70px;
            z-index: 10;
            width: 140px;
            height: 140px;
            background: none;
            border-radius: 100%;
            box-shadow: none;
            padding: 0;
            transition: .3s ease;
            /* Toggle */
            /* Title */
            /* Input */
            /* Button */
        }
        .card.alt .toggle {
            position: relative;
            background: #ed2553;
            width: 140px;
            height: 140px;
            border-radius: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            color: #ffffff;
            font-size: 58px;
            line-height: 140px;
            text-align: center;
            cursor: pointer;
        }
        .card.alt .toggle:before {
            content: '\f040';
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            line-height: 135px;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        .card.alt .title,
        .card.alt .input-container,
        .card.alt .button-container {
            left: 100px;
            opacity: 0;
            visibility: hidden;
        }
        .card.alt .title {
            position: relative;
            border-color: #ffffff;
            color: #ffffff;
        }
        .card.alt .title .close {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 60px;
            display: inline;
            color: #ffffff;
            font-size: 58px;
            font-weight: 400;
        }
        .card.alt .title .close:before {
            content: '\00d7';
        }
        .card.alt .input-container input {
            color: #ffffff;
        }
        .card.alt .input-container input:focus ~ label {
            color: #ffffff;
        }
        .card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
            background: #ffffff;
        }
        .card.alt .input-container input:valid ~ label {
            color: #ffffff;
        }
        .card.alt .input-container label {
            color: rgba(255, 255, 255, 0.8);
        }
        .card.alt .input-container .bar {
            background: rgba(255, 255, 255, 0.8);
        }
        .card.alt .button-container button {
            width: 100%;
            background: #ffffff;
            border-color: #ffffff;
        }
        .card.alt .button-container button span {
            color: #ed2553;
        }
        .card.alt .button-container button:hover {
            background: rgba(255, 255, 255, 0.9);
        }
        .card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
            display: none;
        }

        /* Keyframes */
        @-webkit-keyframes buttonFadeInUp {
            0% {
                bottom: 30px;
                opacity: 0;
            }
        }
        @keyframes buttonFadeInUp {
            0% {
                bottom: 30px;
                opacity: 0;
            }
        }

             .logged {position: relative;
                 /*z-index: 1;*/
                 color: #ed2553;
                 font-size: 32px;
                 font-weight: 600;
                 text-transform: uppercase;
                 text-align: center;
                 line-height: 495px;
                 border-left: 5px solid #ed2553;
             }

            .animate-login-left{
                -webkit-animation:ease alternate;
                -webkit-animation-iteration-count: 1;
                -webkit-animation-name: run;
                -webkit-animation-duration: 1s;
            }
             @-webkit-keyframes run {
                 0% { left: 0;}
                 50%{ left : 100%;}
                 100%{ left: 0;}
             }

             .animate-welcome{
                 -webkit-animation:ease alternate;
                 -webkit-animation-iteration-count: 1;
                 -webkit-animation-name: grow;
                 -webkit-animation-duration: 500ms;
                 -webkit-animation-delay: .3s;
             }
             @-webkit-keyframes grow {
                 0% { transform: scale(1.1);
                     z-index: 1000;}
                 50%{ transform: scale(1.5);}
                 100%{ transform: scale(1.3);}
             }
            /*======overlay animation======*/
             .loading {
                 -webkit-animation:fadein 2s;
                 -moz-animation:fadein 2s;
                 -o-animation:fadein 2s;
                 animation:fadein 2s;
             }
             @-moz-keyframes fadein {
                 from {opacity:0}
                 to {opacity:1}
             }
             @-webkit-keyframes fadein {
                 from {opacity:0}
                 to {opacity:1}
             }
             @-o-keyframes fadein {
                 from {opacity:0}
                 to {opacity:1}
             }
             @keyframes fadein {
                 from {opacity:0}
                 to {opacity:1}
             }
             .alert-user {
                 font-family: "Courier", Monospace;
                 font-size: 0.8em;
                 border-radius: 5px;
                 display: block;
                 /*font-size: 0.7em;*/
                 text-align: center;
                 position: absolute;
                 background: #2F558E;
                 left: 63%;
                 top: -10px;
                 width: 160px;
                 padding: 7px 10px;
                 color: #fff;
                 display: none;
             }
             .alert-user:after {
                 right: 100%;
                 top: 50%;
                 content: " ";
                 height: 0;
                 width: 0;
                 position: absolute;
                 pointer-events: none;
                 border: 8px solid rgba(136, 183, 213, 0);
                 border-right-color: #2F558E;
                 margin-top: -8px;
             }
             .spinner-wrapper {
                 min-width:100%;
                 min-height:100%;
                 height:100%;
                 top:0;
                 left:0;
                 background:rgba(255,255,255,0.93);
                 position:absolute;
                 z-index:3000;
             }

             .spinner-text {position:absolute;top:41.5%;left:47%;margin:16px 0 0 35px;font-size:9px;font-family:Arial;color:#BBB;letter-spacing:1px;font-weight:700}
             .spinner {
                 margin:0;
                 display:block;
                 position:absolute;
                 left:45%;
                 top:40%;
                 border:25px solid rgba(100,100,100,0.2);
                 width:1px;
                 height:1px;
                 border-left-color:transparent;
                 border-right-color:transparent;
                 -webkit-border-radius:50px;
                 -moz-border-radius:50px;
                 border-radius:50px;
                 -webkit-animation:spin 1.5s infinite;
                 -moz-animation:spin 1.5s infinite;
                 animation:spin 1.5s infinite;
             }

             @-webkit-keyframes spin {
                 0%,100% {-webkit-transform:rotate(0deg) scale(1)}
                 50%     {-webkit-transform:rotate(720deg) scale(0.6)}
             }

             @-moz-keyframes spin  {
                 0%,100% {-moz-transform:rotate(0deg) scale(1)}
                 50%     {-moz-transform:rotate(720deg) scale(0.6)}
             }
             @-o-keyframes spin  {
                 0%,100% {-o-transform:rotate(0deg) scale(1)}
                 50%     {-o-transform:rotate(720deg) scale(0.6)}
             }
             @keyframes spin  {
                 0%,100% {transform:rotate(0deg) scale(1)}
                 50%     {transform:rotate(720deg) scale(0.6)}
             }

            .home a{
                color: red;
                text-decoration: none;
            }
            .home a:hover{
                color: rebeccapurple;
                text-decoration: underline;
            }
        </style>

    <div class="home">
        <h4><a href="/">Home</a></h4>
    </div>
    <div class="container">
        <div class="card">
            <p class="logged">YOU ARE LOGGED IN</p>
        </div>
        <div class="card">
            <h1 class="title">Login</h1>
            <form method="post" id="login_form">
                <div class="input-container">
                    <input type="text" id="_username" name="username" required="required"/>
                    <label for="_username">Username</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="_password" name="password" required="required"/>
                    <label for="_username">Password</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button  id="login" type="button"><span>Go</span></button>
                </div>
                <div class="footer"><a href="/user/forgot">Forgot your password?</a></div>
            </form>
        </div>
        <div class="card alt">
            <div class="toggle"></div>
            <h1 class="title">Register
                <div class="close"></div>
            </h1>
            <form method="post" id="register_form">
                <div class="input-container">
                    <input type="text" id="username" name="username" required="required"/>
                    <span class="alert-user" style="z-index: 1;">Cant be empty</span>
                    <span class="alert-user">Username must be greater than 4 characters.</span>
                    <label for="username">Username</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="firstname" name="firstname" required="required"/>
                    <span class="alert-user" style="z-index: 1;">Cant be empty</span>
                    <span class="alert-user">First
                        name must be greater than 4 characters.</span>
                    <label for="firstname">First Name</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="lastname" name="lastname" required="required"/>
                    <span class="alert-user" style="z-index: 1;">Cant be empty</span>
                    <span class="alert-user">Lastname must be greater than 4 characters.</span>
                    <label for="lastname">Last Name</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="email" name="email" required="required"/>
                    <span class="alert-user">Can't be empty.</span>
                    <span class="alert-user">Does match an E-mail</span>
                    <label for="email">E-Mail</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="password" name="password" required="required"/>
                    <span class="alert-user">Enter a password longer than 8 characters</span>
                    <label for="password">Password</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" id="re-password" name="re-password" required="required"/>
                    <span class="alert-user">Please confirm your password</span>
                    <label for="re-password">Repeat Password</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button id="register" type="button"><span>Next</span></button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }

        var users = JSON.parse(htmlDecode("<%= JSON.stringify(Users) %>"));


        var $username = $("#username");
        var $firstname = $("#firstname");
        var $lastname = $("#lastname");
        var $email = $("#email");
        var $password = $("#password");
        var $confirmPass = $("#re-password");

        //does not match email
        function checkEmail($input) {
            return validateEmail($('#' +$input.target.name).val());
        }

        //cant be left empty
        function checkEmpty($input) {
            return $('#' +$input.target.name).val() !== "";
        }

        //Check the length of the Password
        function checkLength() {
            return $password.val().length > 8;
        }

        //Check the length of the username, firstnam, lastname
        function checkILength($input) {
            return $('#' +$input.target.name).val().length > 4;
        }

        //Check to see if the value for pass and confirmPass are the same
        function samePass() {
            return $password.val() === $confirmPass.val();
        }

        //check if empty
        function PassEmpty($input) {
            if (checkEmpty($input)) {
                $(`#${$input.target.name}`).next().hide();
                $('#' +$input.target.name).next().next().show();
            } else {
                $(`#${$input.target.name}`).next().show();
                $('#' +$input.target.name).next().next().hide();
            }
        }

        //check if empty
        function PassEmail($input) {
            if (checkEmail($input)) {
                $('#' +$input.target.name).next().next().hide();
            } else {
                $('#' +$input.target.name).next().next().show();
            }
        }

        //If checkLength() is > 8 then we'll hide the hint
        function PassLength() {
            if (checkLength()) {
                $password.next().hide();
            } else {
                $password.next().show();
            }
        }

        //If checkLength() is > 4 then we'll hide the hint
        function PassILength($input) {
             if (checkILength($input)) {
                    $('#' +$input.target.name).next().next().hide();
                } else {
                 $('#' + $input.target.name).next().next().show();
             }
        }

        //If samePass returns true, we'll hide the hint
        function PassMatch() {
            if (samePass()) {
                $confirmPass.next().hide();
            } else {
                $confirmPass.next().show();
            }
        }

        function canSubmit($input) {
            return samePass() && checkLength() && checkEmpty($input) && checkILength($input) && checkEmail($input);
        }

        // function canISubmit() {
        //     return ;
        // }

        function enableSubmitButton() {debugger;
            $("#register").prop("disabled", !canSubmit());
        }

        // function enableISubmitButton($input) {
        //     $("#register").prop("disabled", !canISubmit($input));
        // }

        //Calls the enableSubmitButton() function to disable the button
        enableSubmitButton();


        $username.keyup(PassEmpty).keyup(PassILength).keyup(enableSubmitButton);
        $firstname.keyup(PassEmpty).keyup(PassILength).keyup(enableSubmitButton);
        $lastname.keyup(PassEmpty).keyup(PassILength).keyup(enableSubmitButton);
        $email.keyup(PassEmpty).keyup(PassEmail).keyup(enableSubmitButton);
        $password.keyup(PassLength).keyup(PassMatch).keyup(enableSubmitButton);
        $confirmPass.focus(PassMatch).keyup(PassMatch).keyup(enableSubmitButton);
    </script>
    <script src="../assets/login-logout/login.js"> </script>
</html>